.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cardText {
  color: black;
  /* background-color:darkgreen; */
  font-size: 18px;
}

.button2 {
  background-color: darkgreen;
  color: white;
  width: 100px;
  height: 50px;
}

.mapp {
  margin: 0% 0% 0% 0%;
}

.card {
  border: none;
  background-color: #0375b4;
}

.container {
  text-align: center;
}

.textArea {
  height: 200px;
  width: 30%;
}

.form-input {
  width: 30%;
}
