
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}



.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


 .cardText{
color: darkgreen;
background-color:#e0cf2e;
font-size: 18px;

}


.button2{
  background-color: darkgreen;
  color: white;
  width: 100px;
  height: 50px;
>>>>>>> 73b1a051e97d22ab03abbb3242d71d9417e038ef
}