.footer {
    min-height: 60px;
    background:  rgb(224, 207, 47);
    position: relative;
  }
  
  .footer span {
     position: absolute; 
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 3px;
    padding-top: 17px; 
     }
  
 